/* border box keeps divs within divs from extending outside of container */

/* ---------PIN CONTAINER-------*/

.discover-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 2rem 1rem;
  /* border: 2px solid red */
}

.discover-top-div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 1rem;
  /* border: 2px solid black; */
}

.discover-item {
  /* box-sizing: border-box; */
  width: 16vw;
  height: 100%;
  padding: 0 0.5rem 1rem 0.5rem;
  /* background-color: yellow; */
  /* border: 2px solid black; */
}


.discover-image {
  box-sizing: border-box;
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 6%;
  /* border: 2px solid black; */
}