.pinning-container {
  display: flex;
  justify-content: center;
  height: auto;
  width: auto;
  /* border: 1px solid red; */
}

.pinning-item {
  width: 400px;
  border-radius: 10px;
  /* border: 1px solid green; */
}

.pinning-item h2 {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.pinning-item select {
  height: 35px;
  width: 394px;
  text-indent: 1rem;
  margin-bottom: 15px;
  border-radius: 8px;
  border-color: rgb(211, 211, 211, 0.4);
  text-indent: 1rem;
}

.pinning-item input {
  height: 40px;
  width: 394px;
  text-indent: 1rem;
  margin-bottom: 10px;
  border-radius: 16px;
  border-color: rgb(211, 211, 211, 0.4);
  text-indent: 1rem;
  word-break: break-all;
  overflow-wrap: scroll;
  overflow: auto;
  box-sizing: border-box;
}

.pinning-item button {
  color: white;
  font-size: 14px;
  font-weight: 700;
  height: 40px;
  width: 395px;
  margin-bottom: 15px;
  background-color: #E60023;
  border-radius: 20px;
  border: none;
}

.pinning-item button:hover {
  cursor: pointer;
  background-color: #D50C22;
}

.errors {
  list-style-type: none;
  line-height: 23px;
  color: rgb(255, 44, 44);
}