/* TODO Add site wide styles */

* {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 600;
}

html {
  background-color: #FFFFFF;
}

body {
  padding: 0;
  margin: 0;
}