#modal-content {
  border-radius: 25px;
}

.signup-container {
  display: flex;
  justify-content: center;
  height: 550px;
  width: 484px;
  padding: 30px 10px 20px 10px;
  /* border: 1px solid red; */
}

.signup-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  border-radius: 10px;
  /* border: 1px solid green; */
}

#modal-header {
  display: flex;
  justify-content: center;
  font-size: 32px;
}

#modal-header-2 {
  display: flex;
  justify-content: center;
  font-size: 16px;
  font-weight: 400;
  padding-top: 2px;
}

.signup-item input {
  height: 40px;
  width: 270px;
  text-indent: 1rem;
  margin-bottom: 10px;
  border-radius: 16px;
  border-color: rgb(211, 211, 211, 0.4)
}

.signup-item label {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-weight: 400;
}

.signup-item button {
  color: white;
  font-weight: 700;
  height: 43px;
  width: 272px;
  margin-bottom: 15px;
  background-color: #E60023;
  border-radius: 18px;
  border: none;
}

.signup-item button:hover {
  cursor: pointer;
  background-color: #D50C22;
}

.errors {
  list-style-type: none;
  line-height: 23px;
  color: rgb(255, 44, 44);
}

/*-----Sign Up Button on NavBar-----*/

.signup-button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  height: 40px;
  min-height: 40px;
  width: 80px;
  min-width: 80px;
  padding: 8px 12px 8px 12px;
  color: #000000;
  background-color: #EFEFEF;
  border: none;
  border-radius: 25px;
  padding: 0;
}

.signup-button:hover {
  cursor: pointer;
  background-color: #E2E2E2;
}