/*---------TOP CONTAINER-----------*/

.pin-top-container {
  display: flex;
  justify-content: center;
  /* width: 50%; */
  margin: 2rem 20rem;
  border-radius: 10px;
  /* border: 2px solid black; */
  box-shadow: 0px 10px 10px 0px rgb(0, 0, 0, 0.1);
  border-radius: 12px;
  border-top: 1px rgba(245, 245, 245) solid;
  border: 1px solid rgb(245, 245, 245);
  background-color: white;
}

.pin-image {
  height: 100%;
  width: 30vw;
  border-radius: 12px;
  /* border: 2px solid black; */
}

.pin-description {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  margin-right: 1rem;
  width: 100%;
  /* border: 1px solid red */
}

.pin-first-div {
  display: flex;
  width: 100%;
  margin-top: 1rem;
  justify-content: space-between;
  align-items: center;
  /* flex-direction: row; */
  /* border: 1px solid green */
}

.pin-second-div {
  display: flex;
  width: 100%;
  /* margin-top: 1rem; */
  justify-content: space-between;
  align-items: center;
}

.pin-third-div {
  display: flex;
  justify-content: center;
  width: 100%;
  word-break: break-all;
  overflow-wrap: scroll;
  overflow: auto;
  box-sizing: border-box;
  border-bottom: rgb(230, 230, 230) 1px solid;
  /* border: 1px solid red; */
}

.pin-fourth-div {
  display: flex;
  justify-content: center;
  width: 100%;
  word-break: break-all;
  overflow-wrap: scroll;
  overflow: auto;
  box-sizing: border-box;

  /* border: 1px solid black; */
}

/*---------BOTTOM CONTAINER-----------*/

.pin-bottom-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  margin-top: 4rem;
  /* border: 1px solid black */
}

.project-item {
  width: 100%;
  margin-top: 5rem;
  display: flex;
  justify-content: space-evenly;
  /* border: 1px solid black */
}

.project-image {
  height: 70%;
  width: 15vw;
  border-radius: 12px;
}