/*---------TOP CONTAINER-----------*/

.pin-top-container {
  display: flex;
  justify-content: center;
  min-width: 600px;
  min-height: auto;
  margin: 5rem 20rem;
  border-radius: 10px;
  /* border: 2px solid black; */
  box-shadow: 0px 10px 10px 0px rgb(0, 0, 0, 0.1);
  border-radius: 12px;
  border-top: 1px rgba(245, 245, 245) solid;
  border: 1px solid rgb(245, 245, 245);
  background-color: white;
}

.pin-image {
  height: 100%;
  width: 30vw;
  border-radius: 12px;
  /* border: 2px solid black; */
}

.pin-description {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
  margin-right: 2rem;
  width: 100%;
  /* border: 1px solid red */
}

.pin-first-row {
  display: flex;
  width: 100%;
  margin-top: 1rem;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid green */
}

.edit-delete-button-div {
  display: flex;
  justify-self: space-between;
}

.fa-ellipsis {
  font-size: 22px;
}

.fa-trash-can {
  font-size: 20px;
}


.pin-second-div {
  display: flex;
  justify-content: space-between;
  width: 100%;
  word-break: break-all;
  overflow-wrap: scroll;
  overflow: auto;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

.pin-third-div {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  word-break: break-all;
  overflow-wrap: scroll;
  overflow: auto;
  box-sizing: border-box;
  /* border: 1px solid black; */
}

.pin-fourth-div {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid green */
}

.select {
  border: none;
  font-size: 16px;
}

.save-pin-button {
  color: white;
  border: none;
  margin: 1rem 0 1rem 1rem;
  background-color: #E60023;
  font-size: 16px;
  font-weight: 600;
  width: 4.5vw;
  height: 3vw;
  border-radius: 30px;
}

.save-pin-button:hover {
  cursor: pointer;
  background-color: #AD081B;
}

.saved-pin-button {
  color: white;
  border: none;
  background-color: rgb(255, 44, 44);
  font-weight: 600;
  width: 4.5vw;
  height: 3vw;
  border-radius: 30px;
}

.follow-button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 16px;
  height: 50px;
  min-height: 40px;
  width: 80px;
  min-width: 80px;
  padding: 8px 12px 8px 12px;
  color: #000000;
  background-color: #EFEFEF;
  border: none;
  border-radius: 25px;
  padding: 0;
}

.follow-button:hover {
  cursor: pointer;
  background-color: rgb(226, 226, 226);
}

.unfollow-button {
  color: white;
  border: none;
  background-color: black;
  font-weight: 600;
  width: 6vw;
  height: 3vw;
  border-radius: 30px;
}

.unfollow-button:hover {
  cursor: pointer;
}

/*---------BOTTOM CONTAINER-----------*/

.pin-bottom-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  margin-top: 4rem;
  /* border: 1px solid black */
}

.project-item {
  width: 100%;
  margin-top: 5rem;
  display: flex;
  justify-content: space-evenly;
  /* border: 1px solid black */
}

.project-image {
  height: 70%;
  width: 15vw;
  border-radius: 12px;
}