.nav-bar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  box-sizing: border-box;
  width: 100%;
  height: 8vh;
  padding: 15px 15px 35px 15px;
  position: sticky;
  /* border: 2px solid black; */
  border-bottom: rgb(230, 230, 230) 1px solid;
}

.left-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 15%;
  padding: 0 1rem;
  /* border: 2px solid black; */
}

.right-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  /* background-color: rgb(196, 226, 227); */
  /* border: 2px solid black; */
  width: 25%;
}

/*-----Navbar Buttons-----*/

.logo {
  width: 30px;
  padding: 0 1rem;
  /* border: 1px solid red; */
}

.home-button {
  color: black;
  text-decoration: none;
  font-size: 1rem;
}

.new-pin-button {
  color: black;
  text-decoration: none;
  font-size: 1rem;
}

.login-button {
  color: black;
  text-decoration: none;
  font-size: 1rem;
}

.signup-button {
  color: black;
  text-decoration: none;
  font-size: 1rem;
}

.github-button {
  color: black;
  text-decoration: none;
  font-size: 1rem;
}

.linkedin-button {
  color: black;
  text-decoration: none;
  font-size: 1rem;
}

#profile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: smaller;
  color: black;
  background-color: rgb(231, 231, 231);
  border-radius: 14px;
  width: 2vw;
  height: 2vw;
}

/*-----Search-----*/
.search {
  display: flex;
  align-items: center;
  width: 1048px;
}

#search-box {
  height: 48px;
  width: 1030px;
  min-width: auto;
  min-height: auto;
  text-indent: 1rem;
  border: none;
  border-radius: 24px;
  background-color: #E8E5E5;
}

#search-box:focus-visible {
  border: none;
  outline: none;
  box-shadow: none;
}