/*-------LOGGED OUT-----------*/
.logged-out-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  height: 8vh;
  padding: 30px 100px 35px 15px;
  margin: 0;
  position: sticky;
  /* border: 1px solid black; */
  background-color: #FCFE90;
}

.logged-out-left-nav {
  display: flex;
  align-items: center;
  width: 12%;
}

.logged-out-right-nav {
  display: flex;
  justify-content: space-around;
  min-width: auto;
  align-items: center;
  width: 236px
}

/*-----Navbar Buttons-----*/

.logged-out-logo {
  width: 38px;
  padding: 0 0.2rem 0 1rem;
}

h3 {
  color: #CC0000;
}

#socials {
  color: black;
  padding: 0 1.5rem 0 0;
  text-decoration: none;
}

#socials:hover {
  text-decoration: underline;
}

.login-button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  height: 40px;
  min-height: 40px;
  width: 70px;
  min-width: 70px;
  margin: 0 0.5rem 0 0;
  color: #FFFF;
  background-color: #E60023;
  border-radius: 25px;
}

.login-button:hover {
  background-color: #AD0818;
}

.signup-button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  height: 40px;
  min-height: 40px;
  width: 80px;
  min-width: 80px;
  padding: 8px 12px 8px 12px;
  color: #000000;
  background-color: #EFEFEF;
  border-radius: 25px;
  padding: 0;
}

.signup-button:hover {
  background-color: #E2E2E2;
}



/*-------LOGGED IN-----------*/

.nav-bar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  box-sizing: border-box;
  width: 100%;
  height: 8vh;
  padding: 15px 15px 35px 15px;
  margin: 1rem 0 0 0;
  position: sticky;
  /* border: 2px solid black; */
  /* border-bottom: rgb(230, 230, 230) 1px solid; */
}

.left-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 12%;
  /* border: 2px solid black; */
}

.right-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* background-color: rgb(196, 226, 227); */
  /* border: 2px solid black; */
  width: 18%;
}

/*-----Navbar Buttons-----*/

.logo {
  width: 32px;
  /* border: 1px solid red; */
}

.home-button {
  color: black;
  text-decoration: none;
  font-size: 1rem;
}

.new-pin-button {
  color: black;
  text-decoration: none;
  font-size: 1rem;
}

.github-button {
  color: #5F5F5F;
  font-size: 1.5rem;
  /* border-radius: 50%; */
  /* border: 2px solid black; */
}

/* .github-button:hover {
  background: #E8E5E5;
} */

.linkedin-button {
  color: #5F5F5F;
  font-size: 1.5rem;
  border-color: black;
}

/* .linkedin-button:hover {
  background-color: #E8E5E5;
} */

#profile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: #5F5F5F;
}

/*-----Search-----*/
.search {
  display: flex;
  align-items: center;
  width: 1048px;
}

#search-box {
  height: 48px;
  width: 1030px;
  min-width: auto;
  min-height: auto;
  margin: 0 0 0 1rem;
  text-indent: 1rem;
  border: none;
  border-radius: 24px;
  background-color: #E8E5E5;
  /* border: 2px solid black; */
}

#search-box:focus-visible {
  border: none;
  outline: none;
  box-shadow: none;
}